.header-color {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.avatharimg {
  height: 200px;
  padding-top: 2cm;
}

.bannertext {
  align-items: center;
  width: 70%;
  height: 55%;
  background-color: black;
  opacity: 0.8;
  margin: auto;
  border-radius: 10px;
}

.bannertext h1 {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  color: white;
}

.bannertext hr {
  text-align: center;
  border-top: 5px, dotted yellowgreen;
  width: 70%;
  margin: auto;
}

.bannertext P {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 1cm;
}

/* .sociallinks
{
  height: 10%;
 
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
} */

.sociallinks i {
  padding-top: 2.5cm;
  padding-bottom: 0.2cm;
  width: 30%;
  text-align: center;
  color: white;
  font-size: 3cm;

  align-items: center;
}

.project-grid {
  display: flex;
}
.contact-body {
  margin: auto;
  background-color: gray;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2cm;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid red;
  margin-bottom: 20px;
}
.contact-grid h2 {
  font-family: "anton", sans-serif;
}
.contact-grid p {
  font-family: "oxygen", sans-serif;
  font-weight: bold;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-list i {
  font-size: 66px;
  padding-right: 1rem;
}
.l1 {
  align-items: center;
  align-content: center;
}
.footer {
  width: 100%;
  height: 100%;
  align-items: stretch;
  align-content: stretch;
}
.g1 {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background: white;
  color: black;
  border: 2px solid red;
  margin-bottom: 20px;
}

.g2 {
  text-align: center;
  justify-content: center;
  width: 100px;
  height: 850px;
  background: white;
  color: black;
  border: 2px solid red;
  margin-bottom: 20px;
}
.abt {
  background-color: wheat;
  height: 100%;
}
.demo-grid3 h1 {
  color: #833ab4;
}
.dg3 {
  background-color: whitesmoke;
}

.cl1 {
  background-color: aquamarine;
  padding: 10%;
}
.cls2 {
  background-color: yellowgreen;
  padding: 15%;
}
.cl3 {
  background-color: darksalmon;
  padding: 2%;
}
